name: Train MLflow Model (CI)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow==2.19.0 pandas scikit-learn joblib matplotlib

    - name: Run MLflow Project
      run: |

        export MLFLOW_TRACKING_URI="file://$(pwd)/mlruns"
        echo "Tracking URI: $MLFLOW_TRACKING_URI"

        mlflow run MLProject \
          --env-manager=local

    - name: Upload mlruns
      uses: actions/upload-artifact@v4
      with:
        name: mlruns
        path: mlruns
